html {
  height: 100%;
  width: 100%;
}

footer {
  text-align: left;
  font-size: x-small;
}

h1 {
  font-family: Arial, Helvetica, sans-serif; text-align: left;
}

h2 {
  font-family: Arial, Helvetica, sans-serif; text-align: left;
}

html {
      background-color: cornflowerblue; background-size: cover;
    }

body {
  text-align: left; font-family: Arial, Helvetica, sans-serif; color: black
}

img{
  float: inherit;
}

h3 {
  font-family: Arial, Helvetica, sans-serif; text-align: left;
}