html {
  height: 100%;
  width: 100%;
}

footer {
  text-align: left;
  font-size: x-small;
}

h1 {
  font-family: Arial, Helvetica, sans-serif; text-align: left;
}

h2 {
  font-family: Arial, Helvetica, sans-serif; text-align: left;
}

html {
      background: url(https://images.pexels.com/photos/5412432/pexels-photo-5412432.jpeg?auto=compress&cs=tinysrgb&w=600); background-size: cover;
    }

body {
  text-align: left; font-family: Arial, Helvetica, sans-serif; color: white
}

img{
  float: inherit;
}